li {
    color: blue;

}

ul {
    color: red;
    background: lightblue;
}

#red {
    color: red;
     }
#red:hover {color: yellow; background: purple;
}

#blue {
    background: blue;
    }

.thead {
    color:green;
}
.thead1 {
    color: purple;
}

.image {
    padding: 10px;
    border: 6px pink solid;
    margin: 20px
    height: 450px;
    width: 450px;
}

.image:hover {
  border: 6px red solid;
}